/* Розмічаємо палітру
колір основного тексту #212121 
колір для другорядного тексту #757575 
колір при наведені nav, чаcтина logo, заповнення кольором button #2196F3 
білий кольор тексту кольор фону header #FFFFFF
кольор logo в header #000000
кольор фону main hero та footer #2F303A
кольор фону main основний #F5F5F5
кольор фону main другорядний #F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --nav-navigatin: #2196f3;
  --color-header-footer: #ffffff;
  --color-header-logo: #000000;
  --color-bg-hero-footr: #2f303a;
  --color-first-main: #f5f5f5;
  --color-secondary-main: #f5f4fa;
}

body {
  background-color: var(--color-first-main);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

.logoheader {
  color: var(--color-header-logo);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logoheader .spanheader {
  color: var(--nav-navigatin);
}

.list {
  list-style: none;
  /* Комплексный для всех ссылок */
}
