/* Розмічаємо палітру
колір для заголовкив #212121 
колір для обзаців  #757575 
колір при наведені nav, чаcтина logo, заповнення кольором button #2196F3 
білий кольор тексту кольор фону header фону main основний #FFFFFF
колір logo в header #000000
колір тексту mail і tel footer rgba(255, 255, 255, 0.6)

кольор фону main hero та footer #2F303A
кольор фону main другорядний #F5F4FA*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --nav-navigatin: #2196f3;
  --color-header-footer: #ffffff;
  --color-header-logo: #000000;
  --color-bg-hero-footer: #2f303a;
  --color-secondary-main: #f5f4fa;
  --color-footer-mailtel: rgba(255, 255, 255, 0.6);
}

.list {
  list-style: none;
  /* Комплексный для всех ссылок */
}

body {
  background-color: var(--color-header-footer);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Header - NAV */

.nav-logo {
  color: var(--color-header-logo);

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-web {
  color: var(--nav-navigatin);
}

.head-line .line-link,
.list-line .contact-link {
  color: var(--title-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.head-line .line-link:hover,
.head-line .line-link:focus,
.list-line .contact-link:hover,
.list-line .contact-link:focus {
  color: var(--nav-navigatin);
}

.line-link.current {
  color: var(--nav-navigatin);
}

.list-line .contact-link {
  color: var(--primary-text-color);
}

/* Index.html main */

.hero {
  background-color: var(--color-bg-hero-footer);
}

.hero {
  text-align: center;
}

.hero-title {
  color: var(--color-header-footer);

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.function {
}

.function-store {
}

.hero-button {
  color: var(--color-header-footer);
  background-color: var(--nav-navigatin);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.store-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
}

.store-text {
  width: 270px;
  height: 72px;
}

.ocupation {
}

.ocupation-title,
.team-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.teamlist-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2px;
}

.teamlist-text {
  font-size: 16px;
  line-height: 19px;
}

/* Portfolio.html main */

.button-link {
  color: var(--title-text-color);
  background-color: var(--color-secondary-main);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button-link:hover,
.button-link:focus {
  color: var(--color-header-footer);
  background-color: var(--nav-navigatin);
}

.link-pictures {
  text-decoration: none;
}

.link-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.link-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;
}

/* Footer */

.footer {
  background-color: var(--color-bg-hero-footer);
}

.footer-logo {
  color: var(--color-header-footer);

  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-link {
  color: var(--color-header-footer);

  text-decoration: none;
}

.footer-mailtel {
  color: var(--color-footer-mailtel);

  text-decoration: none;
}
